@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  @apply bg-neutral-950 text-neutral-100 min-h-screen;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

/* Oculta scrollbar en el wheel picker */
.wheel-scroll::-webkit-scrollbar { display: none; }
